<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lightsabers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item is-size-3">
        <strong>Lightsabers</strong> <img src="/media/light-saber.png" width="28" height="28">
      </div>
    </div>
      <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-primary" href="https://github.com/alanrazop/TC2005B_Alan.git">
              Repositorio personal
            </a>
        </div>
    </div>
</nav>
<body>
    <div class="block">
      <div class="column is-vcentered">
        <p class="azul">Los sables de luz son las armas de los Jedi y los Sith.  Los sables de luz consisten en una hoja de plasma, 
            impulsada por un cristal kyber, que se emite desde una empuñadura usualmente metálica y se podía cerrar a voluntad. </p>
        </div>
      </div>
      <div class="block">
        <button class="button is-info is-light" id="boton_imagen">Ver cristal kyber</button>
        <div id="contenedor_cristal"></div>
      </div>
      <div class="block">
        <button class="button" id="cambio_color"></button>
        <div id="contenedor_imagen2"></div>
      </div>
      <div class="column is-half">
        <p>¡Ingresa tu nombre!</p>
        <input class="input is-primary is-half" type="text" id="sentimiento">
        <p>El lightsaber pertenece a <span id="descripcion_sentimiento"></span></p>
      </div>
      <p class="azul">Han sido utilizados por grandes maestros de lado oscuro y de la luz durante milenios en la galaxia.</p>
    </div>
  
    <script src="/js/lightsaber.js"></script>
</body>
<footer class="footer">
    <div class="content">
      <p>
        @ 2022 Alan Razo | Construcción de software y toma de decisiones
      </p>
    </div>
  </footer>
</html>