<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lightsabers</title>
    <link rel="shortcut icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item is-size-3">
        <strong>Lightsabers</strong> <img src="/media/light-saber.png" width="28" height="28">
      </div>
    </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/user/logout">Salir</a>
        </div>
        <div class="navbar-item">
            <a class="button is-primary" href="https://github.com/alanrazop/TC2005B_Alan.git">
              Repositorio personal
            </a>
        </div>
    </div>
</nav>
<div class="container">
